@define-color window_bg_color #303446;
@define-color accent_bg_color #8caaee;
@define-color theme_fg_color #c6d0f5;
@define-color error_bg_color #e78284;
@define-color error_fg_color #303446;

* {
  all: unset;
}

popover {
  background: @window_bg_color;
  border: 1px solid @accent_bg_color;
  border-radius: 18px;
  padding: 10px;
}

.normal-icons {
  -gtk-icon-size: 16px;
}

.large-icons {
  -gtk-icon-size: 32px;
}

scrollbar {
  opacity: 0;
}

.box-wrapper {
  box-shadow:
    0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  background: @window_bg_color;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid @accent_bg_color;
}

.preview-box,
.elephant-hint,
.placeholder {
  color: @theme_fg_color;
}

.box {
}

.search-container {
  border-radius: 10px;
}

.input placeholder {
  opacity: 0.7;
  color: #a5adce;
}

.input selection {
  background: alpha(@accent_bg_color, 0.4);
}

.input {
  caret-color: @theme_fg_color;
  background: lighten(@window_bg_color, 0.05);
  padding: 10px;
  color: @theme_fg_color;
  border-radius: 10px;
}

.input:focus,
.input:active {
  border: 1px solid @accent_bg_color;
}

.content-container {
}

.placeholder {
}

.scroll {
}

.list {
  color: @theme_fg_color;
}

child {
}

.item-box {
  border-radius: 10px;
  padding: 10px;
}

.item-quick-activation {
  background: alpha(@accent_bg_color, 0.25);
  border-radius: 5px;
  padding: 10px;
}

/* child:hover .item-box, */
child:selected .item-box {
  background: alpha(@accent_bg_color, 0.25);
}

.item-text-box {
}

.item-subtext {
  font-size: 12px;
  opacity: 0.8;
  color: #a5adce;
}

.providerlist .item-subtext {
  font-size: unset;
  opacity: 0.9;
  color: #b5bfe2;
}

.item-image-text {
  font-size: 28px;
}

.preview {
  border: 1px solid #51576d;
  /* padding: 10px; */
  border-radius: 10px;
  color: @theme_fg_color;
  background: #232634;
}

.calc .item-text {
  font-size: 24px;
}

.calc .item-subtext {
  color: #a5adce;
}

.symbols .item-image {
  font-size: 24px;
  color: #f2d5cf;
}

.todo.done .item-text-box {
  opacity: 0.5;
  color: #a5adce;
}

.todo.urgent {
  font-size: 24px;
  color: #e78284;
}

.todo.active {
  font-weight: bold;
  color: #a6d18a;
}

.bluetooth.disconnected {
  opacity: 0.6;
  color: #a5adce;
}

.preview .large-icons {
  -gtk-icon-size: 64px;
}

.keybinds {
  padding-top: 10px;
  border-top: 1px solid #414559;
  font-size: 12px;
  color: #b5bfe2;
}

.global-keybinds {
}

.item-keybinds {
}

.keybind {
}

.keybind-button {
  opacity: 0.8;
  color: #f4b8e4;
}

.keybind-button:hover {
  opacity: 1;
  cursor: pointer;
}

.keybind-bind {
  text-transform: lowercase;
  opacity: 0.5;
  color: #8caaee;
}

.keybind-label {
  padding: 2px 4px;
  border-radius: 4px;
  border: 1px solid #a5adce;
}

.error {
  padding: 10px;
  background: @error_bg_color;
  color: #c6d0f5;
}

:not(.calc).current {
  font-style: italic;
}

.preview-content.archlinuxpkgs {
  font-family: monospace;
}
